body,
html {
  padding: 0;
  height: 0;
  background: #000022;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  margin: 0px 20px;
  transform: translateY(-50%);
  animation-name: scroll;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.container p {
  white-space: nowrap;
  color: #fff;
}

@keyframes scroll {
  0% {
    left: 100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
